.dashboard-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.content__greetings {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.greetings__profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.greetings__profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}





















/* ------------------------------------------ TABLET MEDIA QUERY ------------------------------------------ */


@media screen and (max-width: 1024px) {
    .dashboard-content {
        padding: 1.5rem;
    }

    .greetings__profile-image {
        width: 3rem;
        height: 3rem;
    }

    .greetings__text h2 {
        font-size: 1.3rem;
    }

    .content__greetings {
        gap: 0.7rem;
    }
}





















/* ------------------------------------------ MOBILE MEDIA QUERY ------------------------------------------ */

@media screen and (max-width: 600px) {

    .greetings__text h2 {
        font-size: 1.2rem;
    }
}