.dashboard-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.content__greetings {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.greetings__profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}





















/* ------------------------------------------ TABLET MEDIA QUERY ------------------------------------------ */


@media screen and (max-width: 1024px) {

    .greetings__profile-image {
        width: 3.5rem;
        height: 3.5rem;
    }
}





















/* ------------------------------------------ MOBILE MEDIA QUERY ------------------------------------------ */

@media screen and (max-width: 600px) {

    .greetings__text h2 {
        font-size: 1.2rem;
    }
}