.quiz__container {
  width: 100%;
  background: rgba(32, 4, 61, 0.2);
  color: white;
  padding: 2rem;
  overflow: auto;
}

.quiz__nav-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #280a48;
    padding: 0.2rem;
    border-radius: 0.6rem;
}

.quiz__nav-btn button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(121, 37, 211, 0.1);
  border: none;
  color: #280a48;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.quiz__nav-btn button:hover {
    color: white;
    background-color: #7925d3;
}

.quiz__nav-btn button.active-quiz {
    color: white;
    background-color: #7925d3;
}
